@font-face{font-family:'OstrichBlack';src:url('../fonts/ostrich-black-webfont.woff') format('woff');font-weight:normal;font-style:normal;}@font-face{font-family:'LobsterTwoBoldItalic';src:url('../fonts/LobsterTwo-BoldItalic-webfont.woff') format('woff');font-weight:normal;font-style:normal;}.box{margin:0 0 1em;padding:1em 24px;}
.box-inset{margin:-1em -24px;padding:0.5em 24px;}
.background-clip{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
.clear-fix{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,address,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{font-style:normal;font-weight:normal;font-size:82.5%;line-height:1.6;font-family:Arial,sans-serif;text-rendering:optimizeLegibility;}
ul,ol{margin:0 0 1em 1.4000000000000001em;}
li ul,li ol{margin:0 0 0 1.4000000000000001em;}
ol ol{margin-left:1.5400000000000003em;list-style-type:lower-alpha;}
ol ol ol{margin-left:2.24em;list-style-type:lower-roman;}
dl{margin:0 0 1em 1.4000000000000001em;}
dt{font-weight:bold;}
dd{display:list-item;list-style-type:disc;font-style:italic;}
p{padding:0 0 1em 0;}
code{display:block;white-space:pre;}
hgroup{padding:0 0 1.4000000000000001em 0;line-height:1;}
blockquote{text-align:right;font-style:italic;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
h1,.h1{font-size:2.4em;}
h2,.h2{font-size:2.1em;}
h3,.h3{font-size:1.8em;}
h4,.h4{font-size:1.4em;}
h5,.h5{font-size:1.2em;}
h6,.h6{font-size:1.1em;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{padding:0.2em 12px;text-align:left;vertical-align:top;line-height:1.2;background:inherit;}
th{font-weight:bold;}
a{text-decoration:none;color:#0080ff;background-repeat:no-repeat;}
a:visited{color:#8000ff;}
a:hover{text-decoration:none;color:#0080ff;}
a:active{text-decoration:none;color:#0080ff;}
a:focus{outline:1;}
form{padding:0 0 0.7000000000000001em 0;max-width:100%;}
fieldset{padding:0 0 0.7000000000000001em 0;}
label{clear:left;float:none;display:block;padding-right:12px;width:100%;text-align:left;}
.input-text{border:0 none transparent;padding:0.25em 3px;-moz-box-shadow:0 1px 3px #383838 inset;-webkit-box-shadow:0 1px 3px #383838 inset;box-shadow:0 1px 3px #383838 inset;}
input[type=search],input[type=url],input[type=email],input[type=url],input[type=email],input[type=password],input[type=text]{float:none;width:100%;border:0 none transparent;padding:0.25em 3px;-moz-box-shadow:0 1px 3px #383838 inset;-webkit-box-shadow:0 1px 3px #383838 inset;box-shadow:0 1px 3px #383838 inset;}
input[type=number],input[type^=date],input[type=time]{float:none;width:32.5%;border:0 none transparent;padding:0.25em 3px;-moz-box-shadow:0 1px 3px #383838 inset;-webkit-box-shadow:0 1px 3px #383838 inset;box-shadow:0 1px 3px #383838 inset;}
input[type=checkbox],input[type=radio]{width:auto;}
input[type=checkbox]+label{float:none;display:inline;}
input[type="radio"]+label{display:inline;float:none;}
select{float:none;width:auto;min-width:65.5%;}
textarea{float:none;width:100%;border:0 none transparent;padding:0.25em 3px;-moz-box-shadow:0 1px 3px #383838 inset;-webkit-box-shadow:0 1px 3px #383838 inset;box-shadow:0 1px 3px #383838 inset;}
input[type=checkbox]{float:left;}
div>div>input[type=radio],div>div>input[type=checkbox]{float:none;display:inline;}
fieldset>div{padding-bottom:0.6666666666666666em;float:none;width:100%;}
fieldset>div>div{float:none;width:100%;}
div>div>label{float:none;display:inline;}
input[type=button],input[type=submit]{width:auto;}
select[multiple]{width:65.5%;}
:invalid{color:#cd0a0a;}
:valid{color:#333333;}
:read-only{border:0;padding:0;}
::-webkit-validation-bubble-arrow{margin-bottom:-1em;border:0;-moz-box-shadow:0 0 0 0;-webkit-box-shadow:0 0 0 0;box-shadow:0 0 0 0;background:#cd0a0a;}
::-webkit-validation-bubble-message{padding:0.25em 12px;border-radius:12px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:0;-moz-box-shadow:0 0 0 0;-webkit-box-shadow:0 0 0 0;box-shadow:0 0 0 0;color:#ffffff;background:#cd0a0a;}
body{background-color:#fafafa;background-image:url(../images/backgrounds/back.png);}
header .logo{margin:0 0 0.5em;padding:0;font-size:2.4em;font-weight:normal;line-height:1.6;font-family:"LobsterTwoBoldItalic",Georgia,serif;color:#c62106;background:transparent;}
.site{position:relative;margin:0 auto;padding-bottom:4.2em;width:960px;}
.site>header{width:960px;height:7.000000000000001em;overflow:hidden;}
nav,footer{float:left;margin:0;padding:0 30px;width:900px;color:white;background-color:#383838;background-image:-moz-linear-gradient(top, #707070 0%, #383838 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #707070), color-stop(100%, #383838));background-image:-ms-linear-gradient(top, #707070 0%, #383838 100%);background-image:linear-gradient(top, #707070 0%, #383838 100%);}
footer p{margin:0;padding:0;text-align:center;line-height:2;}
nav ul{margin:0;display:block;}
nav li{display:inline;font-size:0.9em;line-height:2;text-transform:uppercase;color:#d1d1d1;text-shadow:0 -1px 1px #00172e;}
nav a{color:white;}
.help{position:absolute;top:0;left:930px;border-radius:100%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:0.3em 0;width:28px;text-align:center;color:white;background:#7abcff;-moz-box-shadow:0 1px 1px rgba(34, 34, 34, 0.19999999999999996);-webkit-box-shadow:0 1px 1px rgba(34, 34, 34, 0.19999999999999996);box-shadow:0 1px 1px rgba(34, 34, 34, 0.19999999999999996);cursor:pointer;}
.warning{margin:1em 0 1.4000000000000001em;padding:1em 12px;}
.notes{float:none;overflow:hidden;}
code,.notes .note{color:#297137;}
code strong{color:#c62106;}
